server:
  service:
    type: NodePort
    nodePortHttp: 30083
    nodePortHttps: 30084
  
  extraArgs:
    - --insecure  
  
  config:
    url: ""

ingress:
  enabled: false

controller:
  replicas: 1

repoServer:
  replicas: 1

applicationSet:
  enabled: false
