apiVersion: v1
kind: Service
metadata:
  name: {{ include "spam2000.fullname" . }}
  labels:
    {{- include "spam2000.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 3000
      protocol: TCP
      name: http
      {{- if eq .Values.service.type "NodePort" }}
      nodePort: {{ .Values.service.nodePort }}
      {{- end }}
  selector:
    {{- include "spam2000.selectorLabels" . | nindent 4 }}

